@charset "UTF8";

body{
    background-color: #EFEFEF;
   

}


.w3-theme {

    background-color: #296fa7;
    
}

header > p {
    display: inline-block;
    color: white;
    margin: 16px 20px 16px 60px;
    background-color: #296fa7;
}

span{
    margin-left: 750px;
}



.dropdown-item{
    color: white;
}

.dropdown-menu{
    color: white;
}

img{
    color: white;
}

.card-header{
    background-color: #296fa7;
}


