@charset "UTF8";

body{
    background-color: #EFEFEF;
   

}


.w3-theme {

    background-color: #296fa7;
    
}

header > p {
    display: inline-block;
    color: white;
    margin: 16px 20px 16px 60px;
    background-color: #296fa7;
}





img{
    color: white;
}

.card-header{
    background-color: #296fa7;
}




  


.btn1{
    color: white;
    background-color: #296fa7;
    height: 130px;
    width: 300px;
    padding: 10px;
    border-radius: 1px;
    margin: 10px 100px 90px 150px;
    
}

.btn2{
    color: white;
    background-color: #296fa7;
    height: 130px;
    width: 300px;
    padding: 10px;
    border-radius: 1px;
    margin: 10px 100px 90px 10px;
}

.btn3{
        color: white;
    background-color: #296fa7;
    height: 130px;
    width: 300px;
    padding: 10px;
    border-radius: 1px;
    margin: 10px;
}

span{
    margin-left: 1250px;
}






